<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            background-size: cover;
            border-radius: 5px;
            box-sizing: border-box;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <input type="text" placeholder="">
    <button>按住说话</button>
    <script>
        console.log()
    </script>
</body>
</html>